<style>

	.border-rounded
	{
		border-radius: 10px;
	}	

	.navbar-wrapper
	{

		margin-top: 20px;

	}

	.navbar-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 20;

	}

	#myCarousel {
		margin-bottom: 20px;
    box-shadow:0px 10px 5px #888888;
	}

  .margin-right {
    margin-right: 30px;

  }

  .margin-right-buttons {
    margin-right: 60px;

  }

  .marketing {
    margin-top: 60px;
    text-align:center;
  }

  .mid-size-icons {
    font-size: 300%;

  }

  .large-size-icons {
    font-size: 700%;

  }

  .margin-about {
    margin-top: 150px

  }

  .margin-thanks {
    margin-top: 100px;
    margin-bottom: 300px
  }

  .sign-up-modal-social {
    text-align:right;
border-left:solid grey;
  }

  .image-circle {
    border-radius: 50%;
    box-shadow: 0px 20px 40px rgba(0,0,0,.5);
  }

  .blurred-edges {
    box-shadow: 0px 0px 20px rgba(0,0,0,.5);

  }

  .center-y{
    vertical-align:middle;
    height: 300px;
  }

  .sign-up-feature {
    margin-top: 150px;
  }

</style>

<div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top border-rounded" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Easy Workout Tracker!</a>
            </div>

            
            <div class="navbar-collapse collapse">

              <ul class="nav navbar-nav">
                <li><a href="#about">About</a></li>
                <li><a href="#contact">How it works</a></li>
              </ul>


              <div class="pull-right margin-right">
                <ul class="nav navbar-nav">

              <% if user_signed_in? %>

                <li>
                  <button class="btn btn-primary navbar-btn" onclick="location.href='/home'">
                  My Workouts 
                  </button>
                </li>
              
                  </ul>

                  <ul class="navbar-nav navbar-right">

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle margin-right" data-toggle="dropdown">

                    <%= current_user.full_name %> &nbsp

                    <%=image_tag current_user.profile_pic_url, size: "50x50"%>

                    <b class="caret"></b>
                  </a>
          
                  <ul class="dropdown-menu">
                  
                  <li>
                    <a href="#">
                      Profile Settings
                    </a>
                  </li>
                  <li>
                    <a href="/users/sign_out">
                      Log Out
                    </a>
                  </li>
            
                  </ul>
        </li>

              <%else %>

                  <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#SignUpModal">Sign Up</button>

                  &nbsp

                  <button type="button" class="btn btn-default navbar-btn">Log in</button>

              <% end %>
              </ul>
              </div>




            </div>
          </div>
        </div>

      </div>
    </div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          
          <%= image_tag "homepage/yoga.jpg" %>

          <div class="container">
            <div class="carousel-caption">
              
              <h1>Share your workouts with your friends!</h1>
              
            </div>
          </div>
        </div>
        <div class="item">

          <%= image_tag "homepage/women-working-out.jpg" %>

          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">

          <%= image_tag "homepage/rsz_people_running_on_treadmills.jpg" %>


          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>


<a name="about"></a>
<div class="container marketing">
  <div class="row">
        <div class="col-lg-4">
          

          <span class="mid-size-icons glyphicon glyphicon-pencil">
          </span>


          <h2>Record Workouts</h2>

          <p>Easy Workout tracker is the best way to record your workouts. Workouts can be customized - record work out reps or miles ran!</p>

        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">

          <span class="mid-size-icons           glyphicon glyphicon-th">
          </span>

          <h2>Get Summary Reports</h2>
          <p>Get summary reports of your work outs whenever you want!</p>

        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          
          <span class="mid-size-icons glyphicon glyphicon glyphicon-thumbs-up">
          </span>

          <h2>Share workouts with your friends</h2>
          <p>Easily share your workouts with your friends. ... Or not... up to you :)</p>

        </div><!-- /.col-lg-4 -->


      </div> 

      <hr class="featurette-divider margin-about">   

      </div>

      <div class="container">

        <h1>
          <span class="glyphicon glyphicon-log-in"></span>
          &nbsp
          Get Started Now! 
        </h1>

        <div class="row">
          <div class="col-lg-6">
            <br/>
            <h4>
              Its super easy, simply create an account with your email or facebook and start recording!
            </h4>

            <div class="sign-up-feature">
              <center>

              <button type="button" class="btn btn-primary btn-lg">Log in</button>
              &nbsp &nbsp &nbsp
              <button type="button" class="btn btn-primary btn-lg">Sign up</button>
            </center>
            </div>
          </div>

          <div class="col-lg-offset-1 col-lg-1">
            <%= image_tag "homepage/resized-sprinting-girl-Copy.jpg", :class => "image-circle" %>
          </div>

        </div>
        <br/>        

        </div>
      </div>

      <div class="container margin-thanks">

        <hr class="featurette-divider"> 
          <div class="pull-right">
            <h1>
              <span class="glyphicon glyphicon-thumbs-up">
              </span>

              Thank you so much for checking us out!
            </h1>

          </div>

          <br/>
          <br/>
          <br/> 
          <br/> 


          <div>
            <h3>
              We'd love to hear from you and what we should add. Please let us know! <a href="mailto:varun.bhartia@gmail.com">Give us feedback</a>

            </h3>

          </div>
      </div>  


      </div>
</div>


<!-- Modal -->
<div class="modal fade" id="SignUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h4 class="modal-title" id="myModalLabel">Sign up for Easy Workout Tracker</h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <h4>
              Tell us who you are:
            </h4>
          </div>

        <div class="col-md-offset-1">
        </div>


        <div class="col-md-6 sign-up-modal-social">          
            <button class="btn btn-primary btn-large" onclick="location.href='/auth/facebook'">
            <h4>  
              <span class="fa fa-facebook"></span>
            facebook Log In
            </h4>          
          </button>
          


      </div>

      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


      	


